.logout{
    margin-top: 1%;
    margin-left: 90%;
    background-color: rgba(255, 0, 0, 0.514);
    border: 1px solid #00000000;
    border-radius: 25px;
    width: 90px;
    height: 30px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .logout:hover{
    background-color: rgb(255, 2, 2);
  }

  